/* OVERLAY */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* MODAL BOX */
.modal {
  background: white;
  width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
  animation: fadeIn .2s ease-in-out;
}

.modal h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #1e293b;
}

.modal p {
  font-size: 14px;
  color: #475569;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* BOTÕES */
.btn-secondary {
  background: #e2e8f0;
  color: #1e293b;
}

.btn-deletar {
  background: #dc2626;
  color: white;
}

/* ANIMAÇÃO */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ATIVO */
.modal-overlay.ativo {
  display: flex;
}